.center{
	text-align:center;
}
.btn{
	cursor:pointer;
}
.square-icon{
	display: inline-block;
	width:1em;
	height:1em;
}
.rating{
	width:100px;
}
/* Tooltip text */

#tooltip{
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px 0;
    padding-left: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 3;
    margin-left: -60px;

    /* Fade in tooltip */
    /*opacity: 0;
    transition: opacity 1s;*/
}

/* Tooltip arrow */
#tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
 /*Show the tooltip text when you mouse over the tooltip container 
.rating:hover .tooltip {
    visibility: visible;
    opacity: 1;
}*/
body{
	font-family: 'Source Sans Pro', sans-serif;
}

#dropbox {
            border-radius: 5px;
            text-align: center;
            color: gray;
            text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            background-color: #e7e7e7;
            width: 100%;
            height: 300px;
            margin-bottom: 2%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }