.center{
	text-align:center;
}
.btn{
	cursor:pointer;
}
.square-icon{
	display: inline-block;
	width:1em;
	height:1em;
}
.rating{
	width:100px;
}

/* Tooltip text */
.setText {
    text-indent:25px;
    line-height:1px; 
}
#question-btn{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width:120px;
    height:100px;
    border-radius:30px;
    z-index: 2;
    text-decoration:none;
    border:none;
    background-color: transparent;
    /*background-image: url("../img/question.png");*/
}
#question-btn:hover{
    text-decoration:none;
    opacity: 0.6;
   /* background-image: url("../img/question.png");*/
}
#question-btn-img{
    width: 50px;
}
#question-btn:focus{
    outline:0;
}
#tooltip{
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    padding: 5px 0;
    padding-left: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 3;
    margin-left: -60px;

    /* Fade in tooltip */
    /*opacity: 0;
    transition: opacity 1s;*/
}

/* Tooltip arrow */
#tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
 /*Show the tooltip text when you mouse over the tooltip container 
.rating:hover .tooltip {
    visibility: visible;
    opacity: 1;
}*/
body{
	font-family: 'Source Sans Pro', sans-serif;
}

/* popup */
.black-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;]
  margin: 40px auto;
  position: relative;
  border-radius: 6px;
}
/* dropbox in the popup*/
#dropbox {
    border-radius: 5px;
    text-align: center;
    color: gray;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background-color: #e7e7e7;
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*